#root{
    -fx-background-color: #fafafa;
}

.tab-sub-pane{
	-fx-border-color: #cccccc;
	-fx-border-width: 0px 1px 1px 1px;
	-fx-border-style: solid;
}

.tab-header-background{
	-fx-background-color: null;
	-fx-background-color: #cccccc;
}

.titled-pane .title{
	-fx-background-color: #cccccc;
}

.titled-pane .content{
	-fx-background-color: null;
	-fx-border-color: #cccccc;
	-fx-border-width: 0.0px 1px 1px 1px;
}

.menu-bar
{
    -fx-background-color: #eaeaea;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #cccccc;
}

.menu .label{
    -fx-text-fill: #222222;
}